:root {
  --main-color: #0065fc;
  --main-background: rgba(242, 242, 242, 0.4);
  --background: rgb(241, 241, 241);
  --light-blue: #e0eaff;
  --black: #000000;
  --white: #ffffff;
  --shadow: #cacacaca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--main-background);
}

h1 {
  font-size: 1.4em;
  font-weight: 700;
}

/* Barre de navigation */
header {
  margin: 45px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 110px;
}

.img2 {
  display: none;
}

.navbar a {
  color: var(--black);
  text-decoration: none;
  padding: 30px;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--main-color);
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover::after {
  transform: scale(1);
}

/* Barre de recherche */
.search {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 50px;
}

.search h1 {
  margin-bottom: 10px;
}

.search p {
  margin-bottom: 25px;
}

.searchbar {
  display: flex;
  align-items: center;
}

.searchbar input {
  font-weight: 700;
  width: 330px;
  height: 45px;
  padding-left: 15px;
  margin-right: -4px;
  border: 1px solid var(--background);
  outline: none;
}

.searchbar input:focus {
  border-color: var(--main-color);
  background-color: var(--light-blue);
}

.searchbar label {
  background-color: var(--background);
  padding: 10px 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.searchbar img {
  width: 20px;
  position: relative;
  top: 2px;
  left: 1px;
}

.searchbar a {
  text-decoration: none;
  font-weight: 700;
  color: var(--white);
  background-color: var(--main-color);
  padding: 13px 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.searchbar a:after {
  content: "Rechercher";
}

/* Filtres de recherche */
#filter {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 50px;
}

#filter h2 {
  font-size: 1em;
  padding-top: 12px;
}

.filter__bar {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.filter__choices {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filter__choice {
  display: flex;
  align-items: center;
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  position: relative;
}

.filter__choice::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16%;
  height: 100%;
  background-color: var(--light-blue);
  border-radius: 20px;
  transition: width 0.5s ease;
  z-index: -1;
}

.filter__choice:hover::before {
  width: 100%;
}

.filter__choice a {
  text-decoration: none;
  font-weight: bold;
  color: var(--black);
  border-left: none;
  padding: 8px 20px;
}

.filter__choice img {
  background-color: var(--light-blue);
  border-radius: 20px;
  width: 35px;
  padding: 8px;
  transition: transform 0.3s ease-in-out;
}

.filter__choice:hover img {
  transform: rotate(15deg);
}

.filter__info {
  display: flex;
  align-items: center;
  gap: 7px;
}

.filter__info img {
  width: 22px;
  height: 22px;
  border: 2px solid var(--light-blue);
  border-radius: 10px;
}

/* Résultats de la recherche */
#result {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-template-areas: "left right";
  gap: 40px;
}

#result h1 {
  margin-bottom: 30px;
}

.result__left,
.result__right {
  background-color: var(--background);
  border-radius: 15px;
  padding: 25px 40px 50px 40px;
}

.result__left {
  grid-area: left;
}

/* Partie de gauche */
.result__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.result__details {
  background-color: var(--white);
  padding: 5px;
  padding-bottom: 12px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px var(--shadow);
  transition: box-shadow 0.3s ease-in-out;
}

.result__details:hover {
  box-shadow: 7px 7px 10px var(--shadow);
}

.result__details--pic {
  object-fit: cover;
  width: 100%;
  height: 125px;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 5px;
}

.result__details--text {
  padding-left: 15px;
  line-height: 1.4;
  padding-bottom: 3px;
}

.result__details--text h2 {
  font-size: 1em;
}

.result__details--stars {
  display: flex;
  position: relative;
  left: 14px;
}

.result__details--stars img {
  width: 20px;
}

.result__details a {
  text-decoration: none;
  color: var(--black);
  transition: color 0.3s ease-in-out;
}

.result__details:hover a {
  color: var(--main-color);
}

.result__list h3 {
  font-size: 1.2em;
}

/* Partie de droite */
.result__right h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result__pic {
  object-fit: cover;
  width: 20px;
}

.result__headlist {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.result__mostfamous {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  display: flex;
  gap: 20px;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px var(--shadow);
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.result__mostfamous:hover {
  box-shadow: 7px 7px 10px var(--shadow);
  color: var(--main-color);
}

.result__mostfamous--pic img {
  display: flex;
  align-items: center;
  object-fit: cover;
  width: 110px;
  height: 150px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.result__mostfamous--text {
  line-height: 1.4;
  padding-top: 10px;
}

.result__mostfamous--text h2 {
  font-size: 1em;
}

.result__mostfamous--stars {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
}

.result__mostfamous--stars img {
  width: 20px;
}

/* Activités */
#activities {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 60px;
}

#activities h1 {
  margin-bottom: 30px;
}

.activities__grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 110px 60px 165px;
  grid-template-areas:
    "block1 block2 block4 block5"
    "block1 block2 block4 block5"
    "block1 block2 block4 block6"
    "block1 block3 block4 block6";
  gap: 40px;
}

.all {
  box-shadow: 2px 2px 5px var(--shadow);
  border-radius: 15px;
  transition: scale 0.3s ease-in-out;
}

.all:hover {
  scale: 1.03;
}

.all img {
  width: 100%;
}

.activities__block--1 {
  grid-area: block1;
}
.activities__block--2 {
  grid-area: block2;
}
.activities__block--3 {
  grid-area: block3;
}
.activities__block--4 {
  grid-area: block4;
}
.activities__block--5 {
  grid-area: block5;
}
.activities__block--6 {
  grid-area: block6;
}

.activities__block--1 img {
  height: 480px;
}
.activities__block--2 img {
  height: 275px;
}
.activities__block--3 img {
  height: 120px;
}
.activities__block--4 img {
  height: 480px;
}
.activities__block--5 img {
  height: 175px;
}
.activities__block--6 img {
  height: 220px;
}

.activities__pic {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 10px;
}

.activities__text {
  padding-left: 15px;
}

.activities__text h2 {
  font-size: 1em;
}

.all a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.all:hover a {
  color: var(--main-color);
}

/* Footer */
footer {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 230px;
  background-color: var(--background);
}

footer h2 {
  font-size: 1em;
  margin-bottom: 15px;
}

footer li {
  list-style-type: none;
}

footer p {
  line-height: 1.7;
}

.footer__link a {
  text-decoration: none;
  color: var(--black);
}

.footer__link p:hover {
  color: var(--main-color);
}

/* Responsive Design */

@media all and (max-width: 1400px) {
  /* Barre de navigation */
  header {
    margin: 40px 3%;
  }

  /* Barre de recherche */
  .search {
    margin-left: 3%;
    margin-right: 3%;
  }

  /* Filtres de recherche */
  #filter {
    margin-left: 3%;
    margin-right: 3%;
  }

  /* Résultats de la recherche */
  #result {
    margin-left: 3%;
    margin-right: 3%;
  }

  /* Activités */
  #activities {
    margin-left: 3%;
    margin-right: 3%;
  }
}

/* Tablets */

@media all and (min-width: 768px) and (max-width: 992px) {
  /* Résultats de la recherche */
  #result {
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "right"
      "left";
  }

  .result__left {
    background-color: #ffffff;
    border-radius: 0;
  }

  .result__right {
    border-radius: 0;
  }

  /* Partie de droite */
  .result__mostfamous--description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .result__headlist {
    gap: 20px;
  }

  .result__mostfamous--pic img {
    width: 300px;
    height: 170px;
  }

  .result__mostfamous--text {
    padding-top: 20px;
  }

  /* Activités */
  #activities {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 40px 50px 40px;
  }

  .activities__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 270px 200px 220px 250px;
    grid-template-areas:
      "block1 block2"
      "block1 block3"
      "block5 block4"
      "block6 block4";
  }

  .activities__block--1 img {
    height: 460px;
  }
  .activities__block--2 img {
    height: 220px;
  }
  .activities__block--3 img {
    height: 150px;
  }
  .activities__block--4 img {
    height: 460px;
  }
  .activities__block--5 img {
    height: 170px;
  }
  .activities__block--6 img {
    height: 200px;
  }

  /* Footer */
  footer {
    gap: 110px;
  }
}

/* Smartphones */

@media all and (max-width: 767px) {
  /* Barre de navigation */
  header {
    margin: 40px 0;
    display: block;
  }

  header img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .img1 {
    display: none;
  }
  .img2 {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar a {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid var(--shadow);
  }

  .navbar a::after {
    top: 100%;
  }

  /* Barre de recherche */
  .search {
    margin-bottom: 25px;
  }

  .searchbar a {
    position: relative;
    padding: 22px 25px;
  }

  .searchbar a:after {
    content: "";
    background-image: url(../images/icons/icons8-loupe-48.png);
    width: 50%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 13px;
  }

  /* Filtres de recherche */
  .filter__bar {
    flex-direction: column;
    gap: 15px;
  }

  .filter__choices {
    gap: 15px;
  }

  /* Résultats de la recherche */
  #result {
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "right"
      "left";
  }

  .result__left {
    background-color: var(--white);
    border-radius: 0;
    padding: 25px 30px 50px 30px;
  }

  .result__right {
    border-radius: 0px;
    padding: 25px 30px 50px 30px;
  }

  /* Partie de gauche */
  .result__list {
    grid-template-columns: 1fr;
  }

  .result__details--pic {
    height: 150px;
  }

  /* Partie de droite */
  .result__mostfamous--description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .result__headlist {
    gap: 20px;
  }

  .result__mostfamous--pic img {
    width: 140px;
    height: 170px;
  }

  .result__mostfamous--text {
    padding-top: 20px;
  }

  /* Activités */
  #activities {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
    padding: 0px 30px 50px 30px;
  }

  .activities__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
    grid-template-areas:
      "block1"
      "block2"
      "block3"
      "block4"
      "block5"
      "block6";
  }

  .activities__block--1 img {
    height: 250px;
  }
  .activities__block--2 img {
    height: 250px;
  }
  .activities__block--3 img {
    height: 250px;
  }
  .activities__block--4 img {
    height: 250px;
  }
  .activities__block--5 img {
    height: 250px;
  }
  .activities__block--6 img {
    height: 250px;
  }

  /* Footer */
  footer {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}
